body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, 'Roboto', sans-serif;
	text-align: center;
}

#content {
	display: block;
	margin: auto;
	width: 600px;
	height: 400px;
	padding: 40px;
}

#prompt-title {
	font-weight: 600;
	font-size: 24px;
}

#prompt-text {
	padding: 0 50px;
	text-align: left;
}
#prompt-image {
	/*padding: 50px;*/
	width: 200px;
	border: 1px solid #ccc;
	margin: 10px auto 20px auto;
}

#trial-image {
	margin: 0 auto;
	width: 280px;
	height: 280px;
}

#trial-result, #end {
	padding-top: 150px;
}

button {
	position: relative;
	text-align: center;
	font-size: 16px;
	border-radius: 3px;
	color: white;
	border: none;
	width: 100px;
	height: 50px;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
}

.relative {
	position: relative;
	height: 100%;
	width: 100%;
}

button.next {
	position: absolute;
	background-color: #008CBA;
	/*margin: 0 auto;*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 0;
}

button.next:hover {
	background-color: #0099cc;
}

button#optionA {
	float: left;
	margin-left: 0;
	background-color: #4CAF50;
}
button#optionA:hover, button#optionA:hover {
	background-color: #5fb962;
}

button#optionB {
	float: right;
	margin-right: 0;
	background-color: #f44336;
}
button#optionB:hover, button#optionB:active {
	background-color: #f66055;
}

input {
	padding: 12px 8px;
	font-size: 16px;
	width: 400px;
	margin: 16px auto;
	border-radius: 2px;
	border: 1px solid #bbb;
	display: block;
}

/*#flag>svg {
	position: fixed;
	height: 80px;
	width: 80px;
	top: 350px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 10;
}*/

#flag {
	position: fixed;
	padding: 8px;
	text-transform: uppercase;
	font-size: 10px;
	height: 10px;
	width: 100px;
	top: 375px;
	left: 50%;
	border-radius: 2px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 10;
}

#flag.flagCorrect {
	background-color: #ccc;
	color: white;
	border: 1px solid white;
}
#flag.flagIncorrect {
	background-color: #fff093;
	color: #bc3434;
	border: 1px solid #bc3434;
}
