body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, 'Roboto', sans-serif;
}

#content {
	width: 600px;
	height: 400px;
	margin: auto;
	padding: 40px;
}

#prompt-text {
	font-weight: 900;
	font-size: 24px;
}